services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: finance
    ports:
      - "5432:5432"
    volumes:
      - finance_pg:/var/lib/postgresql/data

volumes:
  finance_pg:
